
@{
    ViewData["Title"] = "SubredditSearch";
}

<h1>SubredditSearch</h1>
<form action="/Home/DisplayPosts" method="post">
    <input type="text" name="subreddit" placeholder="subreddit" />
    <input type="submit"  value="Search" />
</form>
